/* PageSider.css */
.menu-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px; /* Adjust height as needed */
    width: 200px;
  }
  
  .menu-item-label {
    margin-top: 8px; /* Space between icon and label */
    font-size: 12px; /* Adjust label size */
    font-style: bold;
  }
  
  .ant-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 ;
    margin: 0 ;
    height: 100px;
    width: 100px;
    
  }
  
  .ant-menu-item-selected {
    background-color: #1E3175;
    color: white ;
  }
  
  .ant-menu-item::after {
    display: none; /* Hide default selection bar */
  }
  
  .anticon {
    font-size: 24px; /* Adjust icon size */
  }
  